<div class="bg_full">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 margin_bott">
                   <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto1.png" height="250px" width="" /></figure>
                      <h3>Laptop Intell </h3>
                      <p> <strong>preço:</strong> R$1665,00 <br>
                        <strong>Origem:</strong> Argentina <br>
                       <strong>Tempo de entrega:</strong> 8 dias
                    </p>                   </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 margin_bott">
                   <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto2.png" height="250px" width="" /></figure>
                      <h3>Notebook Dell 2generation </h3>
                      <p> <strong>preço:</strong> R$2000,00 <br>
                        <strong>Origem:</strong> venezuela <br>
                       <strong>Tempo de entrega:</strong> 8 dias
                    </p>                   </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                   <div id="color_chang" class="services_box">
                      <figure><img src="assets/foto1.png" height="250px" width="" /></figure>
                      <h3>Notebook Dell</h3>
                      <p> <strong>preço:</strong> R$2500,00 <br>
                        <strong>Origem:</strong> Venezuela <br>
                       <strong>Tempo de entrega:</strong> 8 dias
                    </p>                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <br>
 <br>
 <div class="bg_full">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 margin_bott">
                  <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto2.png" height="250px" width="" /></figure>
                     <h3>Notebook Hiundai</h3>
                     <p> <strong>preço:</strong> R$3466,00 <br>
                         <strong>Origem:</strong> México <br>
                        <strong>Tempo de entrega:</strong> 8 dias
                     </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 margin_bott">
                  <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto1.png" height="250px" width="" /></figure>
                     <h3>Laptop Mitsubishi </h3>
                     <p> <strong>preço:</strong> R$2805,00 <br>
                      <strong>Origem:</strong> México <br>
                     <strong>Tempo de entrega:</strong> 8 dias
                  </p>
                    </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4">
                  <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto2.png" height="250px" width="" /></figure>
                     <h3>Laptop Rayban</h3>
                     <p> <strong>preço:</strong> R$1557,00 <br>
                      <strong>Origem:</strong> Uruguai <br>
                     <strong>Tempo de entrega:</strong> 8 dias
                  </p>
                    </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
<br>
 <br>
 <div class="bg_full">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 margin_bott">
                  <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto2.png" height="250px" width="" /></figure>
                     <h3>Notebook XR75 </h3>
                     <p> <strong>preço:</strong> R$1200,00 <br>
                      <strong>Origem:</strong> Paraguai <br>
                     <strong>Tempo de entrega:</strong> 8 dias
                  </p>
                    </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 margin_bott">
                  <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto1.png" height="250px" width="" /></figure>
                     <h3>Laptop 800ix </h3>
                     <p> <strong>preço:</strong> R$2110,00 <br>
                      <strong>Origem:</strong> Chile <br>
                     <strong>Tempo de entrega:</strong> 8 dias
                  </p>                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4">
                  <div id="color_chang" class="services_box">
                     <figure><img src="assets/foto2.png" height="250px" width="" /></figure>
                     <h3>Notebook i30</h3>
                     <p> <strong>preço:</strong> R$1458,00 <br>
                      <strong>Origem:</strong> Chile <br>
                     <strong>Tempo de entrega:</strong> 8 dias
                  </p>                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

