<body>
        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Futuro</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">Esta é a empresa Futuro. Nossa empresa é a maior de importação de notebooks e laptops do Brasil. A nossa proposta é oferecer notebooks e laptopps importados baratos. <br> 
                        Visite a nossa sessão de produtos para conhecer alguns dos nossos notebooks e laptops disponíveis. </p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="..." /></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="cta">
            <div class="cta-content">
                <div class="container px-5">
                    <h2 class="text-white display-1 lh-1 mb-4">
                        
                        <br />
                       
                    </h2>
                    <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://startbootstrap.com/theme/new-age" target="_blank">Download for free</a>
                </div>
            </div>
        </section>

    </body>
